.room-show {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.room-show-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.room-invitation-btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 8px 30px;
  text-decoration: none;
  color: white;
  background: #67c5ff;
  transition: .4s;
  font-size: 24px;
  margin-top: 50px;
  border: 4px double white;
}

.room-invitation-btn:hover {
  color: #67c5ff;
  background: white;
  border: 4px double #67c5ff;
}

.room-exit-btn {
  margin-top: 30px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 8px 30px;
  text-decoration: none;
  color: white;
  background: lightgray;
  transition: .4s;
  font-size: 24px;
  margin-left: auto;
  border: 2px solid lightgray;
}

.room-exit-btn:hover {
  background: white;
  color: #ea352d;
  border: 2px solid #ea352d;
}

.room-delete_btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: lightgray;
  transition: .4s;
  font-size: 24px;
  margin-left: auto;
}

.room-delete_btn:hover {
  background: #f5f5f5;
  color: #ea352d;
  border: 2px solid #ea352d;
}
