.top-page-header {
  width: 100%;
  background-color: lightskyblue;
  padding: 2vh 15vw;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  list-style: none;
}

.home {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #7f9dfb;
  transition: .4s;
  font-size: 24px;
  border: 1px solid #7f9dfb;
  border-radius: 4px;
}

.home:hover {
  background: white;
  color: #7f9dfb;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  line-height: 32px;
  margin-right: 2vw;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00bcd4;
  background: white;
  transition: .4s;
  border-radius: 4px;
  border: 1px solid #00bcd4;
}

.user-nickname:hover {
  background: #00bcd4;
  color: white;
}

.logout {
  line-height: 32px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: #00bcd4;
  transition: .4s;
  border-radius: 4px;
  border: 1px solid #00bcd4;
}

.logout:hover {
  background: white;
  color: #00bcd4;
}

.login {
  line-height: 32px;
  margin-right: 2vw;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: #00bcd4;
  transition: .4s;
  border-radius: 4px;
  border: 1px solid #00bcd4;
}

.login:hover {
  background: white;
  color: #00bcd4;
}

.sign-up {
  line-height: 32px;
  margin-right: 2vw;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: #00bcd4;
  transition: .4s;
  border-radius: 4px;
  border: 1px solid #00bcd4;
}

.sign-up:hover {
  background: white;
  color: #00bcd4;
}