<div class="request">
  <div class="request-user">
    <%= request.user.nickname %>
  </div>
  <div class="request-title">
    <%= request.title %>
  </div>
  <div class="request-content">
    <%= request.content %>
  </div>
</div>
