<%= render "shared/header" %>
<div class="body">
  <%= link_to "お願いする", new_room_request_path, class: "new-request" %>
  <div class="requests">
    <%= render partial: 'shared/request', collection: @requests %>
  </div>
</div>
<%= render "shared/footer" %>