<%= render "shared/header" %>
  <div class="rooms">
    <h2 class="room-heading">ルーム一覧</h2>
    <%= link_to 'ルーム作成', new_room_path, class: "new-room" %></li>
    <% current_user.rooms.each do |room| %>
      <div class="room">
        ルーム名：
        <%= link_to room.name, room_requests_path(room), class: "room-name"%>
      </div>
    <% end %>
  </div>
<%= render "shared/footer" %>