<%= render "shared/header" %>
<div class="test">
  <div class="rooms">
    <% if user_signed_in? %>
      <% current_user.rooms.each do |room| %>
        <div class="room">
          <div class="room-name">
            <a href="#"><%= room.name %></a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>