<%= render "shared/header" %>
<div class="body">
  <div class="rooms">
    <% if user_signed_in? %>
      <% current_user.rooms.each do |room| %>
        <div class="room">
          <div class="room-name">
            <%= link_to room.name, room_requests_path(room) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>