.form-image-wrap {
  padding-top: 10px;
}

.form-image {
  font-size: 15px;
  font-weight: bold;
}

.input-image {
  width: 100%;
  margin-top: 5px;
  height: 45px;
  padding: 10px 0;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.input-text {
  width: 100%;
  margin-top: 5px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}
